html, body {
    height: 100%;
    margin: 0;
    background: whitesmoke;
}

html {
    overflow-x: hidden;
}

#page-home-main {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background-color: #16181b;
    text-align: center;
    font-family: "Fredoka One", sans-serif;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#page-home-main h2 {
    font-size: 1.5em;
    font-family: "Secular One", serif;
    color: #d39e00;
}

#section-timeline {
    width: 100%;
    background: whitesmoke;
}