html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

body {
  background-color: #FFFAFA;
}

#intro_content {
    font-family: 'Ranga', cursive;
    margin: 0;
    min-height:100%;
    padding: 0.5em 0;
    width: 100%;
    display:block;
    background-color: #373737;
    text-align: center;
}

#main_content {
    font-size: 3vw;
    text-align: center;
    padding:1em 0;
    line-height:2;
    position:relative;
    z-index:2;
    display: block;
    width: 100%;
}
#intro_content h2 {
    font-size: 75px;
    color: orange;;
}

h1 {
    font-family: 'Yanone Kaffeesatz';
    padding-top: 10%;
    font-size: 100px;
    color: white;
}

h4 {
    color: orange;
    font-size: 40px;
    text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h4:hover {
  color: lightgrey;
}

.cover {
  border: 2px black solid;
  border-radius: 3vw;
  margin-top: 3vh;
  width: 94.5vw;
  height: 35vh;
  display: inline-block;
  font-size: 40px;
  margin-left: 2vw;
}

.txt {
  position: relative;
  color: black;
  text-decoration: underline;
}

.bg {
  background-size: cover;
  border-radius: 3vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

._rw {
  background-image: url("../images/rw.png");
}

._s {
  background-image: url("../images/sq.png");
}

._sm {
  background: url("../images/sm.png") center center;
}

._d {
  background: url("../images/d.jpg") center center;
}

._ftl {
  background-image: url("../images/ftl.jpg");
}

.cover:hover {
  font-size: 50px;
}

.cover:hover .bg {
  opacity: 0.7;
}

.cover h2 {
  text-align: center;
  margin-top: 10vh;
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.box {
  border: 2px black solid;
  border-radius: 3vw;
  margin-top: 3vh;
  width: 46vw;
  height: 46vh;
  display: inline-block;
  font-size: 30px;
}

.box:hover {
  font-size: 40px;
}

.box:hover .bg {
  opacity: 0.7;
}

.box h2 {
  text-align: center;
  margin-top: 18vh;
}

.left {
  float: left;
  margin-left: 2vw;
}

.right {
  float:right;
  margin-right: 2vw;
}
