html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFFAFA;
}

#intro_content {
    font-family: 'Ranga', cursive;
    margin: 0;
    min-height:100%;
    padding: 0.5em 0;
    width: 100%;
    display:block;
    background-color: #373737;
    text-align: center;
}

#intro_content h2 {
    font-size: 75px;
    color: orange;;
}

h1 {
    font-family: 'Yanone Kaffeesatz';
    padding-top: 10%;
    font-size: 100px;
    color: white;
}

h4 {
    color: orange;
    font-size: 40px;
    text-align: center;
}

a {
  text-decoration: none;
}

h4:hover {
  color: lightgrey;
}

#main_content {
    font-family: 'Amatic SC';
    font-size: 3vw;
    text-align: center;
    padding:1em 0;
    line-height:2;
    position:relative;
    z-index:2;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.hidden {
  display: hidden;
}

.unhidden {
  display: inline-block;
}

.txt {
  position: relative;
  color: black;
  text-decoration: underline;
}

.bg {
  background-size: cover;
  border-radius: 3vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.box {
  border: 2px black solid;
  border-radius: 3vw;
  margin-top: 3vh;
  width: 30vw;
  height: 30vh;
  display: inline-block;
  font-size: 35px;
  line-height: 10vh;
  background-color: lightgrey;
}

.box:hover {
  color: orange;
}

.box:hover .bg {
  opacity: 0.7;
}

.box h2 {
  text-align: center;

}

#left {
  float: left;
  margin-left: 2vw;
}

#right {
  float:right;
  margin-right: 2vw;
}
