html, body {
    height: 100%;
    background-color: #D98695;
}

a {
    text-decoration: underline;
    color: white;
}

.post {
    background-color: rgba(1, 1, 1, 0.6);
    color: white;
    border-bottom: dashed 4px white;
    width: 70%;
    border-radius: 2vw;
    margin-top: 5vh;
    margin-left: 5%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 5vh;
}

.post h2 {
    font-family: 'Bungee Shade';
    display: inline;
}

.post h3 {
    font-family: 'Indie Flower';
    display: inline;
    
}

.post p {
    font-family: 'Josefin Sans';
    line-height: 125%;
}