html, body {
    height: 100%;
    width: 100%;
    font-family: 'Indie Flower', 'Orbitron', sans-serif;
    color: white;

}

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 75px;
    background-size: cover;
    background-image: url("bg.png");
    border-radius: 10px;
    opacity: 0.3;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: black;
    text-align: center;
    background-image:url("gh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-weight: bolder;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

#blink {
    animation-duration: 1000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

a:hover {
    font-size: 40px;
    text-decoration: underline;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
